.form {
    height: auto;
    background-color: blueviolet;
    position: absolute;


}

.form h1 {
    display: flex;
    justify-content: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;

}

@media only screen and (min-width:769px) and (max-width:2000px) {
    .form {
        width: 600px;
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media only screen and (min-width:1024px) {
    .form {
        right: 129px;
    }
}

@media only screen and (min-width:1030px) and (max-width:2000px) {
    .form {
        right: 300px;
    }
}