.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position :relative;
    flex-direction: column;
}
h1{
    color:red;
}
.circle{
    width:100px;
    height:100px;
    background-color: aqua;
    position :absolute;
    border-radius: 50%;
    color: aqua;
  
}