.container{
  float:left;
  margin:10px;
  box-shadow: 20px 30px 40px 20px rgb(229, 230, 240);
  
}
img{
    width:350px;
    height:500px;
}
#btu{
    background-color: crimson;
    color: white;
    border:none;
    padding:5px;
    margin-left:10px;
    margin-bottom:10px;
}
