h1 {
    display: flex;
    justify-content: center;
    color: blue;
    margin-top: 10px;
}

.form {
    display: flex;
    justify-content: center;
}

button {
    margin-left: 5px;
    border: none;
    background-color: chartreuse;
    border: 1px solid black;
}


.del {
    background-color: brown;
    color: white;
}